@import './loading.scss';
body, html{
  height: 100%;
  width: 100%;
}
body {
  font-size: 28px;
  background: #ebebeb;
}
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.fixed{
  height: 100%;
  position: fixed;
}